body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.layout-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    grid-row: 1;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
}

header > * {
    grid-column: 2;
    padding: 1rem 2rem;
}

main {
    grid-row: 2;
    background-color: #000000;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
}

main > * {
    grid-column: 2;
    padding: 2rem;
}

footer {
    grid-row: 3;
    background-color: #000000;
    color: #000000;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
}

footer > * {
    grid-column: 2;
    padding: 1rem 2rem;
}

@media (max-width: 768px) {
    header,
    main,
    footer {
        grid-template-columns: 1rem 1fr 1rem;
    }
    
    main > * {
        padding: 1rem;
    }
    
    header > *,
    footer > * {
        padding: 1rem;
    }
}